:root {
  --dnd5e-font-modesto: "Modesto Condensed", "Microsoft JhengHei", "Palatino Linotype", serif;
  --dnd5e-font-roboto-slab: "Roboto Slab", "Microsoft Yahei", serif;
}

.dnd5e.sheet .warnings .notification,
.dnd5e.sheet .info .notification {
  font-family: 'Signika', "Microsoft JhengHei", sans-serif;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
  font-family: "Signika", "Microsoft JhengHei", sans-serif;
}

.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
  font-family: "Signika", "Microsoft JhengHei", sans-serif;
}