/* Tracker CSS */
.app.sheet .dmg-tracker {

  --table-header-color: rgb(198, 206, 199);
  --dnd5e-color-table-row-even: rgb(246, 248, 247);
  --dnd5e-color-table-row-odd: rgb(230, 234, 231);

  margin-bottom: 1em;

  & h1 {
    color: var(--dmg-brown);
    text-align:center;
  }

  & :is(h2) {
    --phb-saturated-gold: transparent;
    color: var(--dmg-chapter-color);
    text-align:center;
    margin:0;
  }

  & h3 {
    --phb-saturated-gold: transparent;
    color: var(--narrative-border-color);
  }


  & h3:not(.label) {
    border-image: var(--tracker-border-image);
    width:fit-content;
    padding: 0 15%;
    margin-left: auto;
    margin-right: auto;
  }

  & h4,
  & h5 {
    font-family: var(--font-h5);
    color: var(--dmg-chapter-color);
    text-align:center;

    &.highlight {
      font-size:larger;
    }
  }

  & td {
    padding:0 0 0 1em;
  }

  & .settlement-size {
    display:grid;
    grid: auto / auto-flow 1fr;
  }

  & .travel-info {

    display: grid;
    grid:
      ". ." 1fr
      ". ." 1fr
      ". ." 1fr
    / 1.5fr 1fr;
    grid-auto-flow: column;
    gap:0 2em;
    padding: 0 5px 5px;

    & :is(h3,h4) {
      margin:0 10px 0 0;
    }

    & .inline {
      margin:0;
    }

    margin-bottom:1em;
  }

  & .inline {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 10px 0;
  }

  & .highlight {
    background: linear-gradient(
      90deg,
      rgba(224, 235, 232, 0.3) 5%,
      rgba(224, 235, 232, 1) 50%,
      rgba(224, 235, 232, 0.3) 100%
    );
    text-align: center;
    padding: 5px;
  }

  & :is(.label),
  & .label:is(h4, h5){
    margin: 0 10px 0 0;
    text-align:left;
  }

  & .field {
    border-bottom: 2px solid var(--narrative-border-color);
    flex-grow: 1;
    padding: 5px;

    & p {
      margin-bottom: 0;
    }
  }

  & .field.bubble {
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px;
    border-radius: 100%;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    text-align: center;
    margin: 3px;

    & p {
      margin-top: -3px;
    }
  }

  & .travel-info,
  & .field.block {
    min-height: 50px;
    background: linear-gradient(to top, var(--dmg-field-color), transparent);
    border: 1px solid var(--notable-color);
    border-top:none;
    border-radius:0 0 10px 10px;
  }

  & .col {
    flex-grow: 1;
    margin: 5px;
  }
}

