/* ---------------------------------------- */
/*  Project Variables                       */
/* ---------------------------------------- */
.table-of-contents[data-compendium-id="dnd5e_collection_2024.players-handbook"],
.phb {
    /* ---------------------------------------- */
    /*  Colors                                  */
    /* ---------------------------------------- */
    --narrative-border: #fff;
    --notable-color: #ebdbcd;
    --table-color-odd: #dce9ee;
    --table-color-even: #f2f7f9;
    --table-border-color: #EDEAE8;
    --table-header-color: #fdfdfd;
    --phb-red: #5a0507;
    --phb-border-image: url(../assets/ui/phb/page-background.webp) 40 40 40 10 fill / 5% 3% 2% 1% / 0 round;
    --phb-saturated-gold: color(srgb 0.900816 0.74032 0.420752);
}

.table-of-contents[data-compendium-id="dnd5e_collection_2024.index"],
.phb {
    /* ---------------------------------------- */
    /*  Colors                                  */
    /* ---------------------------------------- */
    --narrative-border: #fff;
    --notable-color: #ebdbcd;
    --table-color-odd: #dce9ee;
    --table-color-even: #f2f7f9;
    --table-border-color: #EDEAE8;
    --table-header-color: #fdfdfd;
    --phb-red: #5a0507;
    --phb-border-image: url(../assets/ui/phb/page-background.webp) 40 40 40 10 fill / 5% 3% 2% 1% / 0 round;
    --phb-saturated-gold: color(srgb 0.900816 0.74032 0.420752);
}

/* ---------------------------------------- */
/*  Typography                              */
/* ---------------------------------------- */
.dmg,
.dmg-tracker,
.table-of-contents[data-compendium-id="dnd5e_collection_2024.dungeon-masters-guide"] {
  /* ---------------------------------------- */
  /*  Colors                                  */
  /* ---------------------------------------- */
  --narrative-border: rgb(124, 140, 117);
  --notable-color: rgb(211, 203, 209);
  --narrative-bg-color: rgb(213, 219, 212);
  --narrative-border-color: rgb(124, 140, 117);
  --table-header-color: rgb(242, 245, 241);
  --table-color-odd: rgb(233, 223, 202);
  --table-color-even: rgb(247, 243, 234);
  --table-color-hover: #d8e0fa;
  --dmg-chapter-color: rgb(95, 94, 85);
  --dmg-highlight-color: rgb(198, 217, 217);
  --phb-red: #5a0507;
  --dmg-brown: rgb(132, 120, 100);
  --phb-saturated-gold: color(srgb 0.900816 0.74032 0.420752);
  --dmg-saturated-teal: #466f7e;
  --dmg-bubble-bg: radial-gradient(
    circle at center,
    rgb(112, 147, 150) 40%,
    var(--dmg-chapter-color)
  );
  --dmg-field-color: rgb(224, 231, 228);
  --dmg-social-gradient: linear-gradient(
    to right,
    var(--dmg-field-color),
    transparent
  );
  --dmg-callout-bg: rgb(233, 229, 226);

  --dmg-border-image: url(../assets/ui/dmg/page-background.webp) 120 fill / 5% / 0;
  --tracker-border-image: url(../assets/ui/dmg/tracker-header-border.webp) 20 70 70 70 / 20px 40px 40px / 0
    round;
}
